.imageHeader {
  display: flex;
  align-items: center;
  justify-content: center;
}

.register {
  height: 100vh;
  background-image: linear-gradient(
    to right top,
    #000000,
    #3d1820,
    #772731,
    #b33938,
    #ee5335
  );
}

.registerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.registerCard {
  padding: 50px;
  width: 40vw;
  height: 75vh;
  padding-top: 25px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
